.beerList {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  
  @media (max-width: 1540px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .beer {
    background-color: var(--dark-base);
    padding: 0.8rem 1.2rem;
    font-family: Oswald;
    border-radius: 0.4rem;

    display: grid;
    grid-template-columns: auto min-content 20%;
    grid-template-rows: max-content auto;
    grid-gap: 0.5rem;

    grid-template-areas:
      'title title rating'
      'meta price rating';

    border-left: 0.8rem solid var(--style-theme);


    &.unavailable {
      opacity: 0.5;
    }

    .title {
      grid-area: title;

      .breweryName {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
      }

      h3 {
        margin: 0;
        padding: 0;
        font-size: 2.0rem;
        font-weight: 600;
        letter-spacing: -0.5px;
        line-height: 1.2em;
      }

      .linkedTo {
        font-size: 1.2rem;
        opacity: 0.8;
      }
    }

    .rightColumn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      grid-area: rating;
    }

    .beerLinks {
      margin-top: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }

    .rating {
      width: 100%;
      position: relative;
      padding-top: 1rem;
      font-size: 3.5rem;
      font-weight: 600;
      letter-spacing: -1.5px;
      background: linear-gradient(to right, var(--rating-colour-0), var(--rating-colour-1));
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      border-radius: 3px;
      height: 7rem;
      padding-bottom: 1.3rem;
      overflow: hidden;
      opacity: calc(0.4 + (1 - var(--warning-opacity)) * 0.6) ;

      &.unrated {
        background-color: #222;
        font-size: 1.5rem;
        letter-spacing: 0;
        color: white;

        span {
          font-size: 0.75em;
        }
      }

      &:before {
        content: 'UNTAPPD';
        position: absolute;
        font-family: Syne;
        top: 0.5rem;
        left: 0;
        width: 100%;
        letter-spacing: 0;
        text-align: center;
        font-size: 0.9rem;
        font-weight: 700;
        transform: skewY(-1deg);
      }

      .ratingCount {
        font-size: 1rem;
        letter-spacing: 0;
        background-color: rgba(255, 120, 0, var(--warning-opacity));
        color: var(--warning-colour);
        width: 100%;
        line-height: 1.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        &:after {
          content: ' ratings';
        }
      }
    }

    .price {
      --price: var(--blue);
      position: relative;
      display: inline-flex;
      width: 6rem;
      background: var(--price);
      color: var(--dark);
      box-shadow: calc(var(--price-woah-distance) * 1px) calc(var(--price-woah-distance) * 1px) 0px rgba(255, 0, 0, 0.5);
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 1.4rem;
      align-items: center;
      justify-content: center;
      height: 3rem;
      border-top-right-radius: .2rem;
      border-bottom-right-radius: .2rem;
      vertical-align: baseline;
      transform: rotate(-6deg) scale(var(--price-woah-clamped));
      margin-right: -1rem;
      top: -.3rem;
      left: -1.7rem;

      &:before, &:after {
        position: absolute;
        content: '';
      }
      &:before {
        border-right: 0.8rem solid var(--price);
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid transparent;
        left: -0.8rem;
        top: 0;
      }
      &:after {
        border-radius: 0.25rem;
        width: 0.5rem;
        height: 0.5rem;
        top: 50%;
        left: 0.2rem;
        transform: translate(-50%, -50%);
        background-color: var(--style-theme);
      }
    }

    .meta {
      padding-top: 0.4rem;
      border-top: 1px dashed rgba(0,0,0,0.3);
      font-size: 1.5rem;
      line-height: 1.3em;
      grid-area: meta;

      .classification {
        text-transform: capitalize;
      }

      .selection {
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
      }

      .quota, .noAllocation {
        background-color: var(--ochre);
        color: white;
        padding: 0.1rem 0.5rem;
        border-radius: 2px;
        display: inline-block;
        font-size: 1.2rem;
        margin-top: 0.2rem;
      }

      .quota {
        text-transform: uppercase;
      }
    }
  }
}
