@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&family=Oswald:wght@400;600&display=swap');

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 10px;
  font-family: Syne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --dark: #262521;
  --dark-base: rgba(38, 37, 33, 0.05);
  --light: #F2EADF;
  --ochre: #BF3E21;
  --blue: #97C2C7;

  background-color: var(--light);
  color: var(--dark);

}

html {
  padding: 0;
}

body {
  padding: 0.8rem 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 38px;
}

h4 {
  font-size: 1.6rem;
}

.h1desc {
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: 20px;
}

[data-style="india-pale-ale"], [data-style="pale-ale"], [data-style="ipa"] {
  --style-theme: #00E16E;
}

[data-style="surol"],
[data-style="saison-farmhouse-ale"],
[data-style="saison"] {
  --style-theme: #FF2133;
}

[data-style="porter-stout"], [data-style="mork-lager"], [data-style="stout"] {
  --style-theme: #282726;
}

[data-style="spesial"] {
  --style-theme: #35E0E6;
}

[data-style="brown-ale"], [data-style="red-amber"], [data-style="scotch-ale"] {
  --style-theme: #686255;
}

[data-style="barley-wine"] {
  --style-theme: #D9734E;
}

[data-style="mjod"] {
  --style-theme: #F2B05E;
}

[data-style="klosterstil"],
[data-style="klosterøl"] {
  --style-theme: #a158a8;
}

[data-style="lager"], [data-style="lys-lager"], [data-style="hveteol"], [data-style="lys-ale"] {
  --style-theme: #FFFF42;
}

