.legend {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &-category {
    background-color: var(--dark-base);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    border-left: 0.8rem solid var(--style-theme);
    margin: 0 1rem 0.5rem 0;
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;

    &-selected {
      background-color: var(--dark);
      color: var(--light);
      font-weight: 700;
    }
  }
}
